.asteroids{
  height: 160vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 8rem;
  @include small-phone{
    height: 200vh;
  }
  @include phone-landscape{
    height: 300vh;
  }
  @include tablet{
    height: 150vh;
  }
  @include desktop{
    height: 80vh; 
  }
  &::before{
    content: '';
    position: absolute;
    width: 100%;
  
  }
  &__headline{
    height: 30%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    @include desktop{
      width: 70%;
    }

    &::before{
      content: '';
      right: -22%;
      height: 90%;
      width: 1rem;
      background-color: $main-red;
      top: 0;
      position: absolute;
      display: none;
      @include desktop{
        height: 100%;
        width: 2rem;
        right: -22%;
        display: block;
      }
    }
    p{
      padding-top: 4rem;
    }
  }
  &__content{
    width: 90%;
    height: 68%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;
    @include desktop{
      flex-direction: row;
      justify-content: space-around;
    }
    &::before{
      content: '';
      position: absolute;
      width: 20%;
      height: 20%;
      left: -10%;
      top: 0;
      background: $main-red;
      @include desktop{
        left: 0;
        top: 0;
      }
    }
    .asteroid__box{
      width: 90%;
      height: 23%;
      display: flex;
      flex-direction: column;
      border: .1rem solid rgb(235, 235, 235);
      justify-content: center;
      align-items: center;
      -webkit-box-shadow: 0px 2px 8px 0px rgba(189,185,189,1);
      -moz-box-shadow: 0px 2px 8px 0px rgba(189,185,189,1);
      box-shadow: 0px 2px 8px 0px rgba(189,185,189,1);
      &:hover{
        -webkit-box-shadow: 0px 2px 8px 0px #8C030E;
      -moz-box-shadow: 0px 2px 8px 0px #8C030E;
      box-shadow: 0px 2px 8px 0px #8C030E;
      }
      @include desktop{
        width: 23%;
        height: 80%;
      }
      span{
        font-size: 1.5rem;
        padding: 1rem;
      }
    }
  }
 
}